$('#roaster').append('<%= escape_javascript("<div class='contact' id='#{@contact_jid}' style='height:100px;border:1px solid black;overflow:scroll;'>Contact: #{@contact_jid}</div>") %>');
onAddContact('<%= escape_javascript(@contact_jid) %>');
$('#new_chat_contact')[0].reset();
