$('#user_list').append('<%= escape_javascript("<li class='contact' id='budy_#{@contact_jid}'>#{@contact_jid}</li>") %>');
onAddContact('<%= escape_javascript(@contact_jid) %>');
$('#new_chat_contact')[0].reset();
